openapi: 3.1.0
servers:
- url: https://wbsapi.withings.net/
info:
  version: '2.0'
  title: Withings developer documentation
  description: ''
paths:
  /v2/oauth2:
    post:
      tags:
      - oauth2
      description: Use this endpoint to request an ```access token``` and ```refresh
        token``` from an ```authorization code``` or refresh an existing ```access
        token```.<br><br> <span class='oauth2-request-token-notes'> **Important:**
        Don't forget to save the userid included in the response in your database.<br><br>
        **Note:** You can use this webservice either by signing the call or using
        the secret. Toggle the request body schema to see the parameters for the 2
        options.<br><br> **Note:** Toggle the ```grant_type``` to see the different
        parameters that must be used depending if you're refreshing a token or using
        an authorization code. </span>
      summary: OAuth2 - Requesttoken
      operationId: oauth2-getaccesstoken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded - using secret:
            schema:
              type: object
              discriminator:
                propertyName: grant_type
                required:
                - grant_type
                - action
                mapping:
                  authorization_code: '#/components/schemas/TokenRequestWithClientSecret'
                  refresh_token: '#/components/schemas/TokenRequestRefreshWithClientSecret'
              properties:
                action:
                  type: string
                  description: Must take the value 'requesttoken'
          application/x-www-form-urlencoded - using signature:
            schema:
              type: object
              discriminator:
                propertyName: grant_type
                required:
                - grant_type
                - action
                mapping:
                  authorization_code: '#/components/schemas/TokenRequestWithSignature'
                  refresh_token: '#/components/schemas/TokenRequestRefreshWithSignature'
              properties:
                action:
                  type: string
                  description: Must take the value 'requesttoken'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      userid:
                        type: integer
                        description: The id of the user.
                        example: 363
                      access_token:
                        type: string
                        description: Your new Access Token.
                        example: a075f8c14fb8df40b08ebc8508533dc332a6910a
                      refresh_token:
                        type: string
                        description: Your Refresh Token.
                        example: f631236f02b991810feb774765b6ae8e6c6839ca
                      expires_in:
                        type: integer
                        description: Access token expiry delay in seconds.
                        example: 10800
                      scope:
                        type: string
                        description: You can get only the scope that the user accepted
                          with the Token you have. Scopes can be 'user.info' 'user.metrics'
                          'user.activity' 'user.sleepevents'  and must be separated
                          by a coma.
                        example: user.info,user.metrics
                      csrf_token:
                        type: string
                        example: PACnnxwHTaBQOzF7bQqwFUUotIuvtzSM
                      token_type:
                        type: string
                        description: 'HTTP Authorization Header format: Bearer'
                        example: Bearer
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/oauth2\"\
          );\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'requesttoken',\n\
          \t'grant_type' => 'authorization_code',\n\t'client_id' => '7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67',\n\
          \t'client_secret' => 'd9286311451fc6ed71b372a075c58c5058be158f56a77865e43ab3783255424f',\n\
          \t'code' => 'mtwsikawoqleuroqcluggflrqilrnqbgqvqeuhhh',\n\t'redirect_uri'\
          \ => 'https://www.withings.com'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\
          \nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=requesttoken&grant_type=authorization_code&client_id=7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67&client_secret=d9286311451fc6ed71b372a075c58c5058be158f56a77865e43ab3783255424f&code=mtwsikawoqleuroqcluggflrqilrnqbgqvqeuhhh&redirect_uri=https://www.withings.com"
          'https://wbsapi.withings.net/v2/oauth2'
  /measure:
    post:
      tags:
      - measure
      description: Provides measures stored at a specific date among the types below.
        Please refer to the following responses for details.
      summary: Measure  - Getmeas
      operationId: measure-getmeas
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```getmeas```.
      - name: meastype
        in: query
        required: false
        schema:
          type: integer
        description: "Requested measure type :\n\n\n|Value | Description|\n|---|---|\n\
          |1 | Weight (kg)|\n|4 | Height (meter)|\n|5 | Fat Free Mass (kg)|\n|6 |\
          \ Fat Ratio (%)|\n|8 | Fat Mass Weight (kg)|\n|9 | Diastolic Blood Pressure\
          \ (mmHg)|\n|10 | Systolic Blood Pressure (mmHg)|\n|11 | Heart Pulse (bpm)\
          \ - only for BPM and scale devices|\n|12 | Temperature (celsius)|\n|54 |\
          \ SP02 (%)|\n|71 | Body Temperature (celsius)|\n|73 | Skin Temperature (celsius)|\n\
          |76 | Muscle Mass (kg)|\n|77 | Hydration (kg)|\n|88 | Bone Mass (kg)|\n\
          |91 | Pulse Wave Velocity (m/s)|\n|123 | VO2 max is a numerical measurement\
          \ of your body\u2019s ability to consume oxygen (ml/min/kg).|\n|130 | Atrial\
          \ fibrillation result|\n|135 | QRS interval duration based on ECG signal|\n\
          |136 | PR interval duration based on ECG signal|\n|137 | QT interval duration\
          \ based on ECG signal|\n|138 | Corrected QT interval duration based on ECG\
          \ signal|\n|139 | Atrial fibrillation result from PPG|\n|155 | Vascular\
          \ age|\n|167 | Nerve Health Score Conductance 2 electrodes Feet|\n|168 |\
          \ Extracellular Water in kg|\n|169 | Intracellular Water in kg|\n|170 |\
          \ Visceral Fat (without unity)|\n|174 | Fat Mass for segments in mass unit|\n\
          |175 | Muscle Mass for segments|\n|196 | Electrodermal activity feet|\n\
          |226 | Basal Metabolic Rate|\n|229 | Electrochemical Skin Conductance|\n"
      - name: meastypes
        in: query
        required: false
        schema:
          type: string
          pattern: (\d+,)+\d+
        description: 'List of requested measure types (separated by a comma).<br>Ex:
          meastypes=1,4,12'
      - name: category
        in: query
        required: false
        schema:
          type: integer
        description: '```1``` for real measures, ```2``` for user objectives.'
      - name: startdate
        in: query
        required: false
        schema:
          type: integer
        description: Data start date as a unix timestamp.
        format: timestamp
      - name: enddate
        in: query
        required: false
        schema:
          type: integer
        description: Data end date as a unix timestamp.
        format: timestamp
      - name: lastupdate
        in: query
        required: false
        schema:
          type: integer
        description: Timestamp for requesting data that were updated or created after
          this date.<br>Useful for data synchronization between systems.<br>Use this
          instead of startdate + enddate.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: When a first call returns ```more:1``` and ```offset:XX```, set
          value ```XX``` in this parameter to retrieve next available rows.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: 'Used to pass your access token. Must take value: ```Bearer {your
          access_token}``` Replace {your access_token} with the access_token'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      updatetime:
                        type: string
                        description: Server time at which the answer was generated.
                      timezone:
                        type: string
                        description: Timezone for the date.
                      measuregrps:
                        type: array
                        description: For every measure/measurement made, a measure
                          group is created. The measure group purpose is to group
                          together measures that have been taken at the same time.
                          For instance, when measuring blood pressure you will have
                          a measure group with a systole measure, a diastole measure,
                          and a heartrate measure. Every time a measure is create/updated/deleted,
                          the corresponding measure group is updated.
                        items:
                          $ref: '#/components/schemas/measuregrp_object'
                      more:
                        type: integer
                        description: To know if there is more data to fetch or not.
                      offset:
                        type: integer
                        description: Offset to use to retrieve the next data.
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/measure\"\
          );\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\
          \ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' =>\
          \ 'getmeas',\n\t'meastype' => 'meastype',\n\t'meastypes' => 'meastypes',\n\
          \t'category' => 'category',\n\t'startdate' => 'startdate',\n\t'enddate'\
          \ => 'enddate',\n\t'lastupdate' => 'int',\n\t'offset' => 'offset'\n]));\n\
          \n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=getmeas&meastype=meastype&meastypes=meastypes&category=category&startdate=startdate&enddate=enddate&lastupdate=int&offset=offset"
          ''https://wbsapi.withings.net/measure'''
  '/notify ':
    post:
      tags:
      - notify
      description: Returns the last notification service that was subscribed for a
        user and for a given appli. If no appli is specified, appli=1 will be considered.
      summary: Notify  - Get
      operationId: notify-get
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```get```.
      - name: callbackurl
        in: query
        required: true
        schema:
          type: string
        description: Your ```Callback URL```.
      - name: appli
        in: query
        required: false
        schema:
          type: integer
        description: Refer to the [Notifications section](/developer-guide/v3/data-api/keep-user-data-up-to-date/)
          to know which value you should use.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: 'Used to pass your access token. Must take value: ```Bearer {your
          access_token}``` Replace {your access_token} with the access_token'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      appli:
                        type: integer
                        description: 'Refer to the [Notifications section](/developer-guide/v3/data-api/keep-user-data-up-to-date/)
                          to know the meaning of each values.

                          '
                        example: 4
                      callbackurl:
                        type: string
                        description: Callback url of the notification.
                        example: https://www.withings.com
                      comment:
                        type: string
                        description: Comment entered when creating the notification
                          configuration.
                        example: My notification subcription comment
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify\
          \ \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\
          \ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' =>\
          \ 'get',\n\t'callbackurl' => 'callbackurl',\n\t'appli' => 'appli'\n]));\n\
          \n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=get&callbackurl=callbackurl&appli=appli"
          ''https://wbsapi.withings.net/notify '''
  '/notify  ':
    post:
      tags:
      - notify
      description: Lists notification configuration for this user.
      summary: Notify  - List
      operationId: notify-list
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```list```.
      - name: appli
        in: query
        required: false
        schema:
          type: integer
        description: Refer to the [Notifications section](/developer-guide/v3/data-api/keep-user-data-up-to-date/)
          to know which value you should use.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: 'Used to pass your access token. Must take value: ```Bearer {your
          access_token}``` Replace {your access_token} with the access_token'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      profiles:
                        type: array
                        description: List of notification configurations for this
                          user.
                        items:
                          $ref: '#/components/schemas/notify_object'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify\
          \  \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\
          \ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' =>\
          \ 'list',\n\t'appli' => 'appli'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\
          \nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=list&appli=appli"
          ''https://wbsapi.withings.net/notify  '''
  '/notify    ':
    post:
      tags:
      - notify
      description: Disables all notifications for a given user.
      summary: Notify  - Revoke
      operationId: notify-revoke
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```revoke```.
      - name: callbackurl
        in: query
        required: true
        schema:
          type: string
        description: Your ```Callback URL```.
      - name: appli
        in: query
        required: false
        schema:
          type: integer
        description: Refer to the [Notifications section](/developer-guide/v3/data-api/keep-user-data-up-to-date/)
          to know which value you should use.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: 'Used to pass your access token. Must take value: ```Bearer {your
          access_token}``` Replace {your access_token} with the access_token'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    additionalProperties: true
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify\
          \    \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\
          \ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' =>\
          \ 'revoke',\n\t'callbackurl' => 'callbackurl',\n\t'appli' => 'appli'\n]));\n\
          \n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=revoke&callbackurl=callbackurl&appli=appli"
          ''https://wbsapi.withings.net/notify    '''
  /notify:
    post:
      tags:
      - notify
      description: 'This service allows to receive notifications from Withings:


        - for the Health Data APIs : your application can subscribe to a variety or
        events, including user data  creation and updates. Notifications will be sent
        to your servers when the subscribed events occur. ([more information](/developer-guide/v3/data-api/keep-user-data-up-to-date)).
        Please note that you need to subscribe for each individual user.

        - for the Logistics APIs: a notification will be sent when there is an order
        update ([more information](developer-guide/v3/integration-guide/dropship-only/logistics-api/observe-order-updates))

        - for partners integrating Withings Cellular Solutions or Withings Mobile
        SDK: you can use the ```NO_ACCOUNT_ASSOCIATED``` event to track unassociated
        devices . Please note you need to subscribe only once per application.


        **Note**: depending on your use case, the request parameters may change:


        - for the Health Data APIs: use a valid ```access_token``` in the header but
        don''t use ```signature``` and ```nonce``` in the query parameters.

        - for the Logistics APIs: the subscription is done automatically an order
        is placed (please refer to the [dedicated documentation section](developer-guide/v3/integration-guide/dropship-only/logistics-api/observe-order-updates#how-to-receive-order-update-notifications))

        - for partners integrating Withings Cellular Solutions or Withings Mobile
        SDK, to subscribe to the ```NO_ACCOUNT_ASSOCIATED``` event (appli = 53): use
        ```signature``` and ```nonce``` parameters but don''t include an ```access_token```
        in the header.'
      summary: Notify  - Subscribe
      operationId: notify-subscribe
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```subscribe```.
      - name: callbackurl
        in: query
        required: true
        schema:
          type: string
        description: Your ```Callback URL```.
      - name: appli
        in: query
        required: true
        schema:
          type: integer
        description: Refer to the [Notifications section](/developer-guide/v3/data-api/keep-user-data-up-to-date/)
          to know which value you should use.
      - name: signature
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [access_token]<br>Hash of
          params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests)).'
      - name: nonce
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [access_token]<br>A random
          token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))'
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [access_token]<br>Id of the
          client'
      - name: comment
        in: query
        required: false
        schema:
          type: string
        description: Comment.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: 'Used to pass your access token. Must take value: ```Bearer {your
          access_token}``` Replace {your access_token} with the access_token'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    additionalProperties: true
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify\"\
          );\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\
          \ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' =>\
          \ 'subscribe',\n\t'callbackurl' => 'callbackurl',\n\t'appli' => 'appli',\n\
          \t'signature' => 'signature',\n\t'nonce' => 'string',\n\t'client_id' =>\
          \ 'client_id',\n\t'comment' => 'comment'\n]));\n\n$rsp = curl_exec($ch);\n\
          curl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=subscribe&callbackurl=callbackurl&appli=appli&signature=signature&nonce=string&client_id=client_id&comment=comment"
          ''https://wbsapi.withings.net/notify'''
  '/notify   ':
    post:
      tags:
      - notify
      description: Updates the ```callbackurl``` and/or ```appli``` of a created notification
        subscription. If multiple subscriptions were made for a given user, ```callbackurl```
        and ```appli```, only one of the subscriptions will be updated.
      summary: Notify  - Update
      operationId: notify-update
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```update```.
      - name: callbackurl
        in: query
        required: true
        schema:
          type: string
        description: Your ```Callback URL```.
      - name: appli
        in: query
        required: true
        schema:
          type: integer
        description: Refer to the [Notifications section](/developer-guide/v3/data-api/keep-user-data-up-to-date/)
          to know which value you should use.
      - name: new_callbackurl
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [new_appli, comment]<br>The
          new callback url.'
      - name: new_appli
        in: query
        required: true
        schema:
          type: integer
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [new_callbackurl, comment]<br>The
          new application type.'
      - name: comment
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [new_callbackurl, new_appli]<br>Comment.'
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: 'Used to pass your access token. Must take value: ```Bearer {your
          access_token}``` Replace {your access_token} with the access_token'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    additionalProperties: true
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify\
          \   \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\
          \ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' =>\
          \ 'update',\n\t'callbackurl' => 'callbackurl',\n\t'appli' => 'appli',\n\t\
          'new_callbackurl' => 'new_callbackurl',\n\t'new_appli' => 'new_appli',\n\
          \t'comment' => 'comment'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\
          \nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=update&callbackurl=callbackurl&appli=appli&new_callbackurl=new_callbackurl&new_appli=new_appli&comment=comment"
          ''https://wbsapi.withings.net/notify   '''
  /v2/answers:
    post:
      tags:
      - answers
      description: ''
      summary: Answers v2  - Get
      operationId: answersv2-get
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```get```.
      - name: signature
        in: query
        required: true
        schema:
          type: string
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests)).
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Id of the client
      - name: nonce
        in: query
        required: true
        schema:
          type: string
        description: A random token used to prevent replay attacks (Cf. [Signature
          v2 - Getnonce](#operation/signaturev2-getnonce))
      - name: userid
        in: query
        required: true
        schema:
          type: rawint
        description: User's identifier.
      - name: startdate
        in: query
        required: true
        schema:
          type: integer
        description: Data start date as a unix timestamp.
        format: timestamp
      - name: enddate
        in: query
        required: false
        schema:
          type: integer
        description: Data end date as a unix timestamp.
        format: timestamp
      - name: surveyid
        in: query
        required: false
        schema:
          type: string
        description: ID of a survey
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      answers:
                        type: array
                        items:
                          $ref: '#/components/schemas/answers_list'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/answers\"\
          );\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'get',\n\t'signature'\
          \ => 'signature',\n\t'client_id' => 'client_id',\n\t'nonce' => 'string',\n\
          \t'userid' => 'rawint',\n\t'startdate' => 'startdate',\n\t'enddate' => 'enddate',\n\
          \t'surveyid' => 'string'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\
          \nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=get&signature=signature&client_id=client_id&nonce=string&userid=rawint&startdate=startdate&enddate=enddate&surveyid=string"
          'https://wbsapi.withings.net/v2/answers'
  '/v2/device  ':
    post:
      tags:
      - device
      description: ''
      summary: Device v2  - Disablefeature
      operationId: devicev2-disablefeature
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```disablefeature```.
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Id of the client
      - name: signature
        in: query
        required: true
        schema:
          type: string
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests)).
      - name: nonce
        in: query
        required: true
        schema:
          type: string
        description: A random token used to prevent replay attacks (Cf. [Signature
          v2 - Getnonce](#operation/signaturev2-getnonce))
      - name: feature_name
        in: query
        required: true
        schema:
          type: string
        description: Name of the feature to enable / disable. Cf [Feature Name List](/developer-guide/v3/integration-guide/features-api/features-api-enable#available-features)
      - name: userid
        in: query
        required: true
        schema:
          type: rawint
        description: User's identifier.
      - name: model
        in: query
        required: true
        schema:
          type: integer
        description: Model integer value of a device or a consumable
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    additionalProperties: true
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/device\
          \  \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'disablefeature',\n\
          \t'client_id' => 'client_id',\n\t'signature' => 'signature',\n\t'nonce'\
          \ => 'string',\n\t'feature_name' => 'string',\n\t'userid' => 'rawint',\n\
          \t'model' => 'int'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\n\
          var_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=disablefeature&client_id=client_id&signature=signature&nonce=string&feature_name=string&userid=rawint&model=int"
          'https://wbsapi.withings.net/v2/device  '
  '/v2/device ':
    post:
      tags:
      - device
      description: ''
      summary: Device v2  - Enablefeature
      operationId: devicev2-enablefeature
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```enablefeature```.
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Id of the client
      - name: signature
        in: query
        required: true
        schema:
          type: string
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests)).
      - name: nonce
        in: query
        required: true
        schema:
          type: string
        description: A random token used to prevent replay attacks (Cf. [Signature
          v2 - Getnonce](#operation/signaturev2-getnonce))
      - name: feature_name
        in: query
        required: true
        schema:
          type: string
        description: Name of the feature to enable / disable. Cf [Feature Name List](/developer-guide/v3/integration-guide/features-api/features-api-enable#available-features)
      - name: userid
        in: query
        required: true
        schema:
          type: rawint
        description: User's identifier.
      - name: model
        in: query
        required: true
        schema:
          type: integer
        description: Model integer value of a device or a consumable
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    additionalProperties: true
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/device\
          \ \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'enablefeature',\n\
          \t'client_id' => 'client_id',\n\t'signature' => 'signature',\n\t'nonce'\
          \ => 'string',\n\t'feature_name' => 'string',\n\t'userid' => 'rawint',\n\
          \t'model' => 'int'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\n\
          var_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=enablefeature&client_id=client_id&signature=signature&nonce=string&feature_name=string&userid=rawint&model=int"
          'https://wbsapi.withings.net/v2/device '
  /v2/device:
    post:
      tags:
      - device
      description: '**Important:** Read the [Terminate Device](/developer-guide/v3/integration-guide/terminatecellular)
        Section before calling this webservice.'
      summary: Device v2  - Updatesimstatus
      operationId: devicev2-updatesimstatus
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```updatesimstatus```.
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Id of the client
      - name: signature
        in: query
        required: true
        schema:
          type: string
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests)).
      - name: nonce
        in: query
        required: true
        schema:
          type: string
        description: A random token used to prevent replay attacks (Cf. [Signature
          v2 - Getnonce](#operation/signaturev2-getnonce))
      - name: mac_address
        in: query
        required: true
        schema:
          type: string
          pattern: ^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$
        description: The mac address of the target device.
      - name: sim_status
        in: query
        required: true
        schema:
          type: string
        description: Required SIM status. Allowed values are ```STANDBY``` and ```TERMINATED```
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      new_sim_status:
                        type: string
                        description: New status of the SIM.
                        example: STANDBY
                      termination_date:
                        type: integer
                        description: Timestamp when the SIM will be terminated *(Only
                          if required status was ```TERMINATED```)*
                        format: timestamp
                        example: 1656518088
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/device\"\
          );\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'updatesimstatus',\n\
          \t'client_id' => 'client_id',\n\t'signature' => 'signature',\n\t'nonce'\
          \ => 'string',\n\t'mac_address' => 'macaddress',\n\t'sim_status' => 'string'\n\
          ]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n\
          ?>"
      - lang: CURL
        source: curl --data "action=updatesimstatus&client_id=client_id&signature=signature&nonce=string&mac_address=macaddress&sim_status=string"
          'https://wbsapi.withings.net/v2/device'
  /v2/dropshipment:
    post:
      tags:
      - dropshipment
      description: 'Creates a dropshipment order.


        If one of the orders has an invalid address, none of the orders will be created.


        *This service is part of Withings Pro Solutions. You won''t be able to use
        it if you did not sign a contract with Withings.*

        *Do not use this service if you''re integrating Withings Cellular Solutions
        with dropshipment. In that case, please use the createuserorder action*'
      summary: Dropshipment v2  - Createorder
      operationId: dropshipmentv2-createorder
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```createorder```.
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Id of the client
      - name: nonce
        in: query
        required: true
        schema:
          type: string
        description: A random token used to prevent replay attacks (Cf. [Signature
          v2 - Getnonce](#operation/signaturev2-getnonce))
      - name: signature
        in: query
        required: true
        schema:
          type: string
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests)).
      - name: order
        in: query
        required: true
        schema:
          type: json_array
        description: Refer to [Order model](#tag/models/Order). The maximum number
          of orders is 10 per API request.
      - name: customerid
        in: query
        required: false
        schema:
          type: string
        description: Your dropshipment billing ID. If you don't know it, ignore this
          parameter.
      - name: testmode
        in: query
        required: false
        schema:
          type: integer
        description: 'If is set, it will create fake orders, and simulate the evolution
          of the orders status and sending of notifications.<br>```1```: ```SHIPPED```
          sequence<br>```2```: ```TRASHED``` sequence<br>```3```: ```FAILED``` sequence<br>```4```:
          ```BACKHOLD``` sequence'
      - name: platformid
        in: query
        required: false
        schema:
          type: id16
        description: The platform ID
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      orders:
                        type: array
                        description: List of created orders. *(Only if orders were
                          successfully created)*
                        items:
                          $ref: '#/components/schemas/dropshipment_create_order_object'
                      dropshipmentorderid:
                        type: string
                        description: Unique identifier of the dropshipment order.
                        example: '4874687'
                      invalid_address_customer_ref_ids:
                        type: array
                        description: References of the orders with invalid address.
                          *(Only if at least one order has an invalid address)*
                        items:
                          type: string
              examples:
                OK:
                  value:
                    status: 0
                    body:
                      orders:
                      - order_id: D12345678
                        customer_ref_id: MOUVEMENTREFERENCE12345678
                        status: VERIFIED
                        products:
                        - ean: '3700546702518'
                          quantity: 3
                      dropshipmentorderid: '4874687'
                AddressError:
                  value:
                    status: 503
                    body:
                      invalid_address_customer_ref_ids:
                      - MOUVEMENTREFERENCE12345678
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/dropshipment\"\
          );\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'createorder',\n\
          \t'client_id' => 'client_id',\n\t'nonce' => 'string',\n\t'signature' =>\
          \ 'signature',\n\t'order' => 'order',\n\t'customerid' => 'customerid',\n\
          \t'testmode' => 0,\n\t'platformid' => 'id16'\n]));\n\n$rsp = curl_exec($ch);\n\
          curl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=createorder&client_id=client_id&nonce=string&signature=signature&order=order&customerid=customerid&testmode=0&platformid=id16"
          'https://wbsapi.withings.net/v2/dropshipment'
  '/v2/dropshipment ':
    post:
      tags:
      - dropshipment
      description: 'Creates a Withings user, then creates a dropshipment order and
        links the devices shipped to the created user once the device is shipped.
        If a cellular device is listed in the order field, the service will activate
        this device''s cellular service and invoicing.


        If one of the orders has an invalid address, none of the orders will be created.


        Please refer to the [Access and refresh tokens section](/developer-guide/v3/integration-guide/dropship-cellular/get-access/access-and-refresh-tokens)
        to learn how to use the authorization code you''ll get in return of this service
        in order to fetch user data. The authorization code is only valid for *10
        minutes*.


        *This service is part of Withings Pro Solutions. You won''t be able to use
        it if you did not sign a contract with Withings.*

        *Use this service only if you''re integrating Withings Cellular Solutions
        with dropshipment.*'
      summary: Dropshipment v2  - Createuserorder
      operationId: dropshipmentv2-createuserorder
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```createuserorder```.
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Id of the client
      - name: nonce
        in: query
        required: true
        schema:
          type: string
        description: A random token used to prevent replay attacks (Cf. [Signature
          v2 - Getnonce](#operation/signaturev2-getnonce))
      - name: signature
        in: query
        required: true
        schema:
          type: string
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests)).
      - name: mailingpref
        in: query
        required: true
        schema:
          type: boolean
        description: Specifies if customer accepted Withings commercial contacts.
      - name: birthdate
        in: query
        required: true
        schema:
          type: integer
        description: Unix timestamp of user's birthdate
      - name: measures
        in: query
        required: true
        schema:
          type: json_string
        description: User measures (Cf. [Measures](#tag/models/Measures) model).
      - name: gender
        in: query
        required: true
        schema:
          type: integer
        description: '0: man, 1: woman'
      - name: preflang
        in: query
        required: true
        schema:
          type: string
        description: 'User language preference. Examples: en_EN / en_US / de_DE /
          es_ES / fr_FR / it_IT / ja_JA / ko_KR / nl_NL / pt_PT / ru_RU / zh_CN'
      - name: unit_pref
        in: query
        required: true
        schema:
          type: json
        description: Unit pref (cf. [Unit preferences](#tag/models/Unit-preferences)
          model).
      - name: email
        in: query
        required: true
        schema:
          type: email
        description: User's email address
      - name: timezone
        in: query
        required: true
        schema:
          type: timezone
        description: 'User''s timezone. Examples: "Europe/Paris" / "America/New_York".
          A complete list of all possible timezones can be found on the "TZ database
          name" column of this page : https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'
      - name: shortname
        in: query
        required: true
        schema:
          type: string
        description: '3 characters representing the end user (ex: for a user named
          Robert, you could set the shortname param to ROB). These characters will
          be displayed on device screens when used.<br>Shortname must respect the
          following regex: /^[a-zA-Z0-9]{3}$/ (either letters or numbers, special
          characters and spaces are not allowed).'
      - name: external_id
        in: query
        required: true
        schema:
          type: string
        description: Unique identifier used by the partner to identify the end-user.
          Will be attached to the [data update notifications](/developer-guide/v3/data-api/keep-user-data-up-to-date/)
      - name: order
        in: query
        required: true
        schema:
          type: json_array
        description: Refer to [Order model](#tag/models/Order). The maximum number
          of orders is 10 per API request.
      - name: firstname
        in: query
        required: false
        schema:
          type: string
        description: User's firstname (if not set, will take the same value as shortname)
      - name: lastname
        in: query
        required: false
        schema:
          type: string
        description: User's lastname (if not set, will take the same value as shortname)
      - name: phonenumber
        in: query
        required: false
        schema:
          type: string
        description: Phone number in E.164 format. End user will receive a verification
          code on this phone number for 2 factor authentication if they wish to securely
          access the data of their program in the withings app in the future (recommended)
      - name: recovery_code
        in: query
        required: false
        schema:
          type: string
        description: Recovery code can be used by end user as a 2nd authentication
          factor in the withings app if they wish to securely access the data of their
          program in the future.  You will be responsible of securely providing this
          recovery code to your user if he asks for it.
      - name: goals
        in: query
        required: false
        schema:
          type: json
        description: Goals (cf. [Goals](#tag/models/Goals) model).
      - name: testmode
        in: query
        required: false
        schema:
          type: integer
        description: 'If is set, it will create fake orders, and simulate the evolution
          of the orders status and sending of notifications.<br>```1```: ```SHIPPED```
          sequence<br>```2```: ```TRASHED``` sequence<br>```3```: ```FAILED``` sequence<br>```4```:
          ```BACKHOLD``` sequence'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      user:
                        type: object
                        properties:
                          code:
                            type: string
                            description: Authorization Code that must be used to retrieve
                              access_token and refresh_token. (Read the "Get access
                              to your user's data" section of your [integration guide](/developer-guide/v3/withings-solutions/integration-guides)
                              to learn more about how to get this parameter.)
                            example: 490ed603fe9bd2ce10027bdba0c932069cd27085
                          external_id:
                            type: string
                            description: Unique identifier used by partner to identify
                              the end-user.
                            example: 3b7a6db0-ec7e-479b-9675-2a3d8d6a7e51
                      orders:
                        type: array
                        description: List of created orders. *(Only if orders were
                          successfully created)*
                        items:
                          $ref: '#/components/schemas/dropshipment_create_order_object'
                      dropshipmentorderid:
                        type: string
                        description: Unique identifier of the dropshipment order.
                        example: '4874687'
                      invalid_address_customer_ref_ids:
                        type: array
                        description: References of the orders with invalid address.
                          *(Only if at least one order has an invalid address)*
                        example:
                        - MOUVEMENTREFERENCE12345678
                        items:
                          type: string
              examples:
                OK:
                  value:
                    status: 0
                    body:
                      user:
                        code: 490ed603fe9bd2ce10027bdba0c932069cd27085
                        external_id: 3b7a6db0-ec7e-479b-9675-2a3d8d6a7e51
                      orders:
                      - order_id: D12345678
                        customer_ref_id: MOUVEMENTREFERENCE12345678
                        status: VERIFIED
                        products:
                        - ean: '3700546702518'
                          quantity: 3
                      dropshipmentorderid: '4874687'
                AddressError:
                  value:
                    status: 503
                    body:
                      invalid_address_customer_ref_ids:
                      - MOUVEMENTREFERENCE12345678
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/dropshipment\
          \ \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'createuserorder',\n\
          \t'client_id' => 'client_id',\n\t'nonce' => 'string',\n\t'signature' =>\
          \ 'signature',\n\t'mailingpref' => 'mailingpref',\n\t'birthdate' => 1563746400,\n\
          \t'measures' => 'measures',\n\t'gender' => 'int',\n\t'preflang' => 'en_EN',\n\
          \t'unit_pref' => 'unit_pref',\n\t'email' => 'email',\n\t'timezone' => 'Europe/Paris',\n\
          \t'shortname' => 'shortname',\n\t'external_id' => 'external_id',\n\t'order'\
          \ => 'order',\n\t'firstname' => 'firstname',\n\t'lastname' => 'lastname',\n\
          \t'phonenumber' => 'string',\n\t'recovery_code' => 'string',\n\t'goals'\
          \ => 'json',\n\t'testmode' => 0\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\
          \nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=createuserorder&client_id=client_id&nonce=string&signature=signature&mailingpref=mailingpref&birthdate=1563746400&measures=measures&gender=int&preflang=en_EN&unit_pref=unit_pref&email=email&timezone=Europe/Paris&shortname=shortname&external_id=external_id&order=order&firstname=firstname&lastname=lastname&phonenumber=string&recovery_code=string&goals=json&testmode=0"
          'https://wbsapi.withings.net/v2/dropshipment '
  '/v2/dropshipment   ':
    post:
      tags:
      - dropshipment
      description: 'Cancels a dropshipment order.

        Only orders that haven''t been shipped can be cancelled.

        Note that there can be a latency between the shipping of the parcel and the
        update of the shipping status to *SHIPPED*.

        Trying to cancel an order that was already shipped will result in a error
        with error code 277.


        *This service is part of Withings Pro Solutions. You won''t be able to use
        it if you did not sign a contract with Withings.*'
      summary: Dropshipment v2  - Delete
      operationId: dropshipmentv2-delete
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```delete```.
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Id of the client
      - name: signature
        in: query
        required: true
        schema:
          type: string
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests)).
      - name: nonce
        in: query
        required: true
        schema:
          type: string
        description: A random token used to prevent replay attacks (Cf. [Signature
          v2 - Getnonce](#operation/signaturev2-getnonce))
      - name: order_id
        in: query
        required: true
        schema:
          type: string
        description: Withings generated identifier used to track your order.
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    additionalProperties: true
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/dropshipment\
          \   \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'delete',\n\t'client_id'\
          \ => 'client_id',\n\t'signature' => 'signature',\n\t'nonce' => 'string',\n\
          \t'order_id' => 'string'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\
          \nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=delete&client_id=client_id&signature=signature&nonce=string&order_id=string"
          'https://wbsapi.withings.net/v2/dropshipment   '
  '/v2/dropshipment  ':
    post:
      tags:
      - dropshipment
      description: '**This service is deprecated. Please use [Order v2 - Getdetail
        instead](#operation/orderv2-getdetail)**


        Returns dropshipment order information.


        *This service is part of Withings Pro Solutions. You won''t be able to use
        it if you did not sign a contract with Withings.*'
      summary: Dropshipment v2  - Getorderstatus
      operationId: dropshipmentv2-getorderstatus
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```getorderstatus```.
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Id of the client
      - name: signature
        in: query
        required: true
        schema:
          type: string
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests)).
      - name: nonce
        in: query
        required: true
        schema:
          type: string
        description: A random token used to prevent replay attacks (Cf. [Signature
          v2 - Getnonce](#operation/signaturev2-getnonce))
      - name: order_ids
        in: query
        required: true
        schema:
          type: json
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [customer_ref_ids]<br>List
          of order_id'
      - name: customer_ref_ids
        in: query
        required: true
        schema:
          type: json
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [order_ids]<br>Movement reference
          number of dropshipment orderlines'
      - name: customerid
        in: query
        required: false
        schema:
          type: string
        description: Your dropshipment billing ID. If you don't know it, ignore this
          parameter.
      - name: enrich
        in: query
        required: false
        schema:
          type: pgboolean
        description: Enable advanced features if set to 't'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      orders:
                        type: array
                        items:
                          $ref: '#/components/schemas/dropshipment_get_order_status_object'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/dropshipment\
          \  \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'getorderstatus',\n\
          \t'client_id' => 'client_id',\n\t'signature' => 'signature',\n\t'nonce'\
          \ => 'string',\n\t'order_ids' => 'json',\n\t'customer_ref_ids' => 'json',\n\
          \t'customerid' => 'customerid',\n\t'enrich' => 'pgboolean'\n]));\n\n$rsp\
          \ = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=getorderstatus&client_id=client_id&signature=signature&nonce=string&order_ids=json&customer_ref_ids=json&customerid=customerid&enrich=pgboolean"
          'https://wbsapi.withings.net/v2/dropshipment  '
  '/v2/dropshipment    ':
    post:
      tags:
      - dropshipment
      description: 'Updates a dropshipment order.


        *This service is part of Withings Pro Solutions. You won''t be able to use
        it if you did not sign a contract with Withings.*'
      summary: Dropshipment v2  - Update
      operationId: dropshipmentv2-update
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```update```.
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Id of the client
      - name: signature
        in: query
        required: true
        schema:
          type: string
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests)).
      - name: nonce
        in: query
        required: true
        schema:
          type: string
        description: A random token used to prevent replay attacks (Cf. [Signature
          v2 - Getnonce](#operation/signaturev2-getnonce))
      - name: order_id
        in: query
        required: true
        schema:
          type: string
        description: Withings generated identifier used to track your order.
      - name: order
        in: query
        required: true
        schema:
          type: json_array
        description: Refer to [Order model](#tag/models/Order). Restricted to one
          order only.
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      orders:
                        type: array
                        items:
                          $ref: '#/components/schemas/dropshipment_create_order_object'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/dropshipment\
          \    \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'update',\n\t'client_id'\
          \ => 'client_id',\n\t'signature' => 'signature',\n\t'nonce' => 'string',\n\
          \t'order_id' => 'string',\n\t'order' => 'order'\n]));\n\n$rsp = curl_exec($ch);\n\
          curl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=update&client_id=client_id&signature=signature&nonce=string&order_id=string&order=order"
          'https://wbsapi.withings.net/v2/dropshipment    '
  '/v2/heart ':
    post:
      tags:
      - heart
      description: "Provides the high frequency data of an ECG recording in micro-volt\
        \ (\u03BCV).\n\n**Duration:**\n\n - BPM Core: 20 seconds.\n - Move ECG: 30\
        \ seconds.\n - ScanWatch: 30 seconds.\n\n**Sampling frequency:**\n\n - BPM\
        \ Core: 500 Hz.\n - Move ECG: 300 Hz.\n - ScanWatch: 300 Hz."
      summary: Heart v2  - Get
      operationId: heartv2-get
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```get```.
      - name: signalid
        in: query
        required: true
        schema:
          type: id32m64
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [client_id, signature, nonce,
          signal_token]<br>ID of a signal'
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [access_token, signalid]<br>Id
          of the client'
      - name: signature
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [access_token, signalid]<br>Hash
          of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests)).'
      - name: nonce
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [access_token, signalid]<br>A
          random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))'
      - name: signal_token
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [access_token, signalid]<br>Signal
          identifier'
      - name: with_filtered
        in: query
        required: false
        schema:
          type: boolean
        description: Request filtered version of the signal
      - name: with_intervals
        in: query
        required: false
        schema:
          type: boolean
        description: Request features with inactive ones
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: 'Used to pass your access token. Must take value: ```Bearer {your
          access_token}``` Replace {your access_token} with the access_token'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      signal:
                        type: array
                        description: "Signal value in micro-volt (\u03BCV)."
                        example: '[1,2,3,4,5,6,7,8,9]'
                        items:
                          type: integer
                      sampling_frequency:
                        type: integer
                        description: Signal Sampling Frequency (Hz).
                        example: 500
                      wearposition:
                        type: integer
                        description: 'Where the user is wearing the device.



                          | Value | Description|

                          |---|---|

                          |0 | Right Wrist|

                          |1 | Left Wrist|

                          |2 | Right Arm|

                          |3 | Left Arm|

                          |4 | Right Foot|

                          |5 | Left Foot|

                          |6 | Between Legs|

                          |8 | Left part of the body|

                          |9 | Right part of the body|

                          |10 | Left leg|

                          |11 | Right leg|

                          |12 | Torso|

                          |13 | Left hand|

                          |14 | Right hand|

                          '
                        example: 1
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/heart\
          \ \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\
          \ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' =>\
          \ 'get',\n\t'signalid' => 'signalid',\n\t'client_id' => 'client_id',\n\t\
          'signature' => 'signature',\n\t'nonce' => 'string',\n\t'signal_token' =>\
          \ 'string',\n\t'with_filtered' => 'boolean',\n\t'with_intervals' => 'boolean'\n\
          ]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n\
          ?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=get&signalid=signalid&client_id=client_id&signature=signature&nonce=string&signal_token=string&with_filtered=boolean&with_intervals=boolean"
          ''https://wbsapi.withings.net/v2/heart '''
  /v2/heart:
    post:
      tags:
      - heart
      description: 'Returns a list of ECG records and Afib classification for a given
        period of time.

        To get the full ECG signal, use the [Heart v2 - Get](#operation/heartv2-get)
        service.


        If the ECG recordings have been taken with BPM Core, systole and diastole
        measurements will also be returned.'
      summary: Heart v2  - List
      operationId: heartv2-list
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```list```.
      - name: startdate
        in: query
        required: false
        schema:
          type: integer
        description: Data start date as a unix timestamp.
        format: timestamp
      - name: enddate
        in: query
        required: false
        schema:
          type: integer
        description: Data end date as a unix timestamp.
        format: timestamp
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: When a first call returns ```more:true``` and ```offset:XX```,
          set value ```XX``` in this parameter to retrieve next available rows.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: 'Used to pass your access token. Must take value: ```Bearer {your
          access_token}``` Replace {your access_token} with the access_token'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      series:
                        type: array
                        items:
                          $ref: '#/components/schemas/heart_measurement_object'
                      more:
                        type: boolean
                        description: To know if there is more data to fetch or not.
                      offset:
                        type: integer
                        description: Offset to use to retrieve the next data.
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/heart\"\
          );\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\
          \ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' =>\
          \ 'list',\n\t'startdate' => 'startdate',\n\t'enddate' => 'enddate',\n\t\
          'offset' => 'offset'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\
          \nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=list&startdate=startdate&enddate=enddate&offset=offset"
          ''https://wbsapi.withings.net/v2/heart'''
  '/v2/measure   ':
    post:
      tags:
      - measure
      description: ''
      summary: Measure v2  - Confirmuser
      operationId: measurev2-confirmuser
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```confirmuser```.
      - name: grpid
        in: query
        required: true
        schema:
          type: id64n
        description: Group ID
      - name: is_confirmed
        in: query
        required: true
        schema:
          type: boolean
        description: Indicates if the measure was confirmed by the user.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: 'Used to pass your access token. Must take value: ```Bearer {your
          access_token}``` Replace {your access_token} with the access_token'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    additionalProperties: true
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/measure\
          \   \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\
          \ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' =>\
          \ 'confirmuser',\n\t'grpid' => 'id64n',\n\t'is_confirmed' => 'boolean'\n\
          ]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n\
          ?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=confirmuser&grpid=id64n&is_confirmed=boolean"
          ''https://wbsapi.withings.net/v2/measure   '''
  /v2/measure:
    post:
      tags:
      - measure
      description: Provides daily aggregated activity data of a user.
      summary: Measure v2  - Getactivity
      operationId: measurev2-getactivity
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```getactivity```.
      - name: startdateymd
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [lastupdate]<br>Start date.'
        format: Y-m-d
      - name: enddateymd
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [lastupdate]<br>End date.'
        format: Y-m-d
      - name: lastupdate
        in: query
        required: true
        schema:
          type: integer
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [startdateymd, enddateymd]<br>Timestamp
          for requesting data that were updated or created after this date.<br>Useful
          for data synchronization between systems.<br>Use this instead of startdateymd
          + enddateymd.'
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: When a first call returns ```more:true``` and ```offset:XX```,
          set value ```XX``` in this parameter to retrieve next available rows.
      - name: data_fields
        in: query
        required: false
        schema:
          type: string
        description: 'List of requested data fields, separated by a comma.<br>Available
          data fields are listed below.<br><u>Ex</u>: data_fields=steps,distance,elevation<br><br>steps<br>>
          Number of steps. <br><br>distance<br>> Distance travelled (in meters). <br><br>elevation<br>>
          Number of floors climbed. <br><br>soft<br>> Duration of soft activities
          (in seconds). <br><br>moderate<br>> Duration of moderate activities (in
          seconds). <br><br>intense<br>> Duration of intense activities (in seconds).
          <br><br>active<br>> Sum of intense and moderate activity durations (in seconds).
          <br><br>calories<br>> Active calories burned (in Kcal). Calculated by mixing
          fine granularity calories estimation, workouts estimated calories and calories
          manually set by the user. <br><br>totalcalories<br>> Total calories burned
          (in Kcal). Obtained by adding active calories (see ```calories```) and passive
          calories.<br><br>hr_average<br>> Average heart rate. <br><br>hr_min<br>>
          Minimal heart rate. <br><br>hr_max<br>> Maximal heart rate. <br><br>hr_zone_0<br>>
          Duration in seconds when heart rate was in a light zone (cf. <a href=''/api-reference/#section/Glossary''>Glossary</a>).
          <br><br>hr_zone_1<br>> Duration in seconds when heart rate was in a moderate
          zone (cf. <a href=''/api-reference/#section/Glossary''>Glossary</a>). <br><br>hr_zone_2<br>>
          Duration in seconds when heart rate was in an intense zone (cf. <a href=''/api-reference/#section/Glossary''>Glossary</a>).
          <br><br>hr_zone_3<br>> Duration in seconds when heart rate was in maximal
          zone (cf. <a href=''/api-reference/#section/Glossary''>Glossary</a>). <br><br>'
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: 'Used to pass your access token. Must take value: ```Bearer {your
          access_token}``` Replace {your access_token} with the access_token'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      activities:
                        type: array
                        items:
                          $ref: '#/components/schemas/activity_object'
                      more:
                        type: boolean
                        description: To know if there is more data to fetch or not.
                      offset:
                        type: integer
                        description: Offset to use to retrieve the next data.
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/measure\"\
          );\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\
          \ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' =>\
          \ 'getactivity',\n\t'startdateymd' => '2020-07-01',\n\t'enddateymd' => '2020-07-02'\n\
          ]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n\
          ?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=getactivity&startdateymd=2020-07-01&enddateymd=2020-07-02"
          ''https://wbsapi.withings.net/v2/measure'''
  '/v2/measure  ':
    post:
      tags:
      - measure
      description: "Returns user activity data captured at high frequency.\n\n**Notes:**\n\
        \n - If your input ```startdate``` and ```enddate``` are separated by more\
        \ than 24h, only the first 24h after ```startdate``` will be returned.\n -\
        \ If no ```startdate``` and ```enddate``` are passed as parameters, the most\
        \ recent activity data will be returned."
      summary: Measure v2  - Getintradayactivity
      operationId: measurev2-getintradayactivity
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```getintradayactivity```.
      - name: startdate
        in: query
        required: false
        schema:
          type: integer
        description: Data start date as a unix timestamp.
        format: timestamp
      - name: enddate
        in: query
        required: false
        schema:
          type: integer
        description: Data end date as a unix timestamp.
        format: timestamp
      - name: data_fields
        in: query
        required: false
        schema:
          type: string
        description: 'List of requested data fields, separated by a comma.<br>Available
          data fields are listed below.<br><u>Ex</u>: data_fields=steps,elevation,calories<br><br>steps<br>>
          Number of steps. <br><br>elevation<br>> Number of floors climbed. <br><br>calories<br>>
          Estimation of active calories burned (in Kcal). <br><br>distance<br>> Distance
          travelled (in meters). <br><br>stroke<br>> Number of strokes performed.
          <br><br>pool_lap<br>> Number of pool_lap performed. <br><br>duration<br>>
          Duration of the activity (in seconds). <br><br>heart_rate<br>> Measured
          heart rate. <br><br>spo2_auto<br>> SpO2 measurement automatically tracked
          by a device tracker<br><br>'
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: 'Used to pass your access token. Must take value: ```Bearer {your
          access_token}``` Replace {your access_token} with the access_token'
      responses:
        '200':
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status. See <a href='#section/Response-status'>Status</a>
                      section for details.
                  body:
                    type: object
                    description: Response data.
                    properties:
                      series:
                        type: object
                        properties:
                          $timestamp:
                            type: object
                            description: $timestamp represents the epoch value of
                              the intraday data
                            properties:
                              deviceid:
                                type: string
                                description: 'ID of device that tracked the data.
                                  To retrieve information about this device, refer
                                  to : <a href=''/api-reference/#operation/userv2-getdevice''>User
                                  v2 - Getdevice</a>.'
                                example: 892359876fd8805ac45bab078c4828692f0276b1
                              model:
                                type: string
                                description: 'Device model. Value can be:



                                  | Value | Description|

                                  |---|---|

                                  |Withings WBS01 | Scale|

                                  |WS30 | Scale|

                                  |Kid Scale | Scale|

                                  |Smart Body Analyzer | Scale|

                                  |Body+ | Scale|

                                  |Body Cardio | Scale|

                                  |Body | Scale|

                                  |Body Scan | Scale|

                                  |Body Pro | Scale|

                                  |WBS10 | Scale|

                                  |WBS11 | Scale|

                                  |Smart Baby Monitor | Babyphone|

                                  |Withings Home | Babyphone|

                                  |Withings Blood Pressure Monitor V1 | Blood Pressure
                                  Monitor|

                                  |Withings Blood Pressure Monitor V2 | Blood Pressure
                                  Monitor|

                                  |Withings Blood Pressure Monitor V3 | Blood Pressure
                                  Monitor|

                                  |BPM Core | Blood Pressure Monitor|

                                  |BPM Connect | Blood Pressure Monitor|

                                  |BPM Connect Pro | Blood Pressure Monitor|

                                  |BPM Pro 2 | Blood Pressure Monitor|

                                  |BPM Vision | Blood Pressure Monitor|

                                  |Pulse | Activity Tracker|

                                  |Activite | Activity Tracker|

                                  |Activite (Pop, Steel) | Activity Tracker|

                                  |Withings Go | Activity Tracker|

                                  |Activite Steel HR | Activity Tracker|

                                  |Activite Steel HR Sport Edition | Activity Tracker|

                                  |Pulse HR | Activity Tracker|

                                  |Move | Activity Tracker|

                                  |Move ECG | Activity Tracker|

                                  |ScanWatch | Activity Tracker|

                                  |ScanWatch 2 | Activity Tracker|

                                  |ScanWatch Light | Activity Tracker|

                                  |Aura Dock | Sleep Monitor|

                                  |Aura Sensor | Sleep Monitor|

                                  |Aura Sensor V2 | Sleep Monitor|

                                  |Thermo | Smart Connected Thermometer|

                                  |WUP01 | Gateway|

                                  |Iglucose glucometer | iGlucose|

                                  |iOS step tracker | HealthKit Apple|

                                  |HealthKit step iPhone tracker | HealthKit Apple|

                                  |HealthKit step Apple Watch tracker | HealthKit
                                  Apple|

                                  |HealthKit other step tracker | HealthKit Apple|

                                  |Android step tracker | HealthKit Google|

                                  |GoogleFit tracker | HealthKit Google|

                                  |Samsung Health tracker | HealthKit Google|

                                  |Huawei tracker | HealthKit Huawei|

                                  '
                                example: Pulse
                              model_id:
                                type: integer
                                description: '


                                  | Value | Description|

                                  |---|---|

                                  |1 | Withings WBS01|

                                  |2 | WS30|

                                  |3 | Kid Scale|

                                  |4 | Smart Body Analyzer|

                                  |5 | Body+|

                                  |6 | Body Cardio|

                                  |7 | Body|

                                  |10 | Body Scan|

                                  |9 | Body Pro|

                                  |11 | WBS10|

                                  |12 | WBS11|

                                  |21 | Smart Baby Monitor|

                                  |22 | Withings Home|

                                  |41 | Withings Blood Pressure Monitor V1|

                                  |42 | Withings Blood Pressure Monitor V2|

                                  |43 | Withings Blood Pressure Monitor V3|

                                  |44 | BPM Core|

                                  |45 | BPM Connect|

                                  |46 | BPM Connect Pro|

                                  |47 | BPM Pro 2|

                                  |48 | BPM Vision|

                                  |51 | Pulse|

                                  |52 | Activite|

                                  |53 | Activite (Pop, Steel)|

                                  |54 | Withings Go|

                                  |55 | Activite Steel HR|

                                  |59 | Activite Steel HR Sport Edition|

                                  |58 | Pulse HR|

                                  |90 | Move|

                                  |91 | Move ECG|

                                  |92 | Move ECG|

                                  |93 | ScanWatch|

                                  |94 | ScanWatch 2|

                                  |95 | ScanWatch Light|

                                  |60 | Aura Dock|

                                  |61 | Aura Sensor|

                                  |63 | Aura Sensor V2|

                                  |70 | Thermo|

                                  |100 | WUP01|

                                  |1061 | Iglucose glucometer|

                                  |1051 | iOS step tracker|

                                  |1052 | iOS step tracker|

                                  |1057 | HealthKit step iPhone tracker|

                                  |1058 | HealthKit step Apple Watch tracker|

                                  |1059 | HealthKit other step tracker|

                                  |1053 | Android step tracker|

                                  |1054 | Android step tracker|

                                  |1055 | GoogleFit tracker|

                                  |1056 | Samsung Health tracker|

                                  |1060 | Android step tracker|

                                  |1062 | Huawei tracker|

                                  '
                                example: 51
                              steps:
                                type: integer
                                description: Number of steps. *(Use 'data_fields'
                                  to request this data.)*
                              elevation:
                                type: number
                                description: Number of floors climbed. *(Use 'data_fields'
                                  to request this data.)*
                              calories:
                                type: number
                                description: Estimation of active calories burned
                                  (in Kcal). *(Use 'data_fields' to request this data.)*
                              distance:
                                type: number
                                description: Distance travelled (in meters). *(Use
                                  'data_fields' to request this data.)*
                              stroke:
                                type: integer
                                description: Number of strokes performed. *(Use 'data_fields'
                                  to request this data.)*
                              pool_lap:
                                type: integer
                                description: Number of pool_lap performed. *(Use 'data_fields'
                                  to request this data.)*
                              duration:
                                type: integer
                                description: Duration of the activity (in seconds).
                                  *(Use 'data_fields' to request this data.)*
                              heart_rate:
                                type: integer
                                description: Measured heart rate. *(Use 'data_fields'
                                  to request this data.)*
                              spo2_auto:
                                type: number
                                description: SpO2 measurement automatically tracked
                                  by a device tracker
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/measure\
          \  \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch,\
          \ CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\
          \ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' =>\
          \ 'getintradayactivity',\n\t'startdate' => 'startdate',\n\t'enddate' =>\
          \ 'enddate',\n\t'data_fields' => 'data_fields'\n]));\n\n$rsp = curl_exec($ch);\n\
          curl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=getintradayactivity&startdate=startdate&enddate=enddate&data_fields=data_fields"
          ''https://wbsapi.withings.net/v2/measure  '''
  '/v2/measure ':
    post:
      tags:
      - measure
      description: 'Returns workout summaries, which are an aggregation all data that
        was captured during that workout.


        Use the [Measure v2 - Getintradayactivity](#operation/measurev2-getintradayactivity)
        service to get the high frequency data used to build this summary.'
      summary: Measure v2  - Getworkouts
      operationId: measurev2-getworkouts
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
        description: Service action name. Must take the string value ```getworkouts```.
      - name: startdateymd
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [lastupdate]<br>Start date.'
        format: Y-m-d
      - name: enddateymd
        in: query
        required: true
        schema:
          type: string
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [lastupdate]<br>End date.
          Required if startdateymd is provided.'
        format: Y-m-d
      - name: lastupdate
        in: query
        required: true
        schema:
          type: integer
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [startdateymd, enddateymd]<br>Timestamp
          for requesting data that were updated or created after this date.<br>Useful
[...]
